<div *ngFor="let info of data; let i = index">
  <div *ngIf="!edit">
    <div *ngIf="!info.checked">
      <input type="checkbox" (change)="setChecked(i)">
      <label class="label">{{info.todo}}</label>
    </div>
  </div>
  <div *ngIf="edit">
    <div *ngIf="!info.checked">
      <input value="{{info.todo}}" #username>
      <app-buttons buttonTitle="X" (click)="delete(i)"></app-buttons>
      <app-buttons buttonTitle="+" (click)="onChange(username.value, i)"></app-buttons>
    </div>
  </div>
</div>
