<app-title></app-title>
<app-list [data]="todo" [edit]="edit"></app-list>
<input [(ngModel)]="input">
<div class="buttons">
  <app-buttons buttonTitle="add" (click)="add()"></app-buttons>
  <app-buttons buttonTitle="{{text}}" (click)="enableEdit()" [disabled]="disabled"></app-buttons>
  <app-buttons buttonTitle="clear list" (click)="clearList()" [disabled]="disabled"></app-buttons>
</div>
<div>
  <div>
    <h1>Finished Tasks</h1>
  </div>
  <div *ngFor="let items of todo">
    <div *ngIf="items.checked">
      {{items.todo}}
    </div>
  </div>
</div>
